<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
	<appSettings>
		<add key="accountName" value="zokicpokic"/>
		<add key="accountKey" value ="lla3tqicTNwjD9prQyyFaShUB86fpykgVA8NATWfsVUtLRIvrxZ+jCHTZFGozpVy3OjQSrd+YAJW1FvGNrXpCQ=="/>
		<add key="containerName" value ="filesharetest"/>
		<add key ="autoretryNum" value="3"/>
		<add key="rootDir" value=""/>
	</appSettings>
</configuration>